<div class="container-fluid" >
	<div class="">
		<h1>Menu</h1>
		<hr>
	</div>

	

	<div class=" row row-cols-4 mb-2" >
		<div class="col card-group" *ngFor="let dish of dishes" (click)="onSelect(dish)">
			<div class="card" style="margin: 5px; max-width: 300px" >
				
				<div class="card-header">
					<img class="rounded mx-auto d-block" src="{{dish.image}}" 
					alt="{{dish.name}}">
				</div>
				<div class="card-body">
					<h5 class="card-title">{{dish.name | uppercase}}</h5>
					
				</div>
				<div class="card-footer">
					<span>${{dish.price}}</span>
				</div>
			</div>
		</div>

	</div>

	<div class="container-fluid" >
		<app-dish-details [dish]="selectedDish"></app-dish-details>
	</div>

<!-- 
	
 -->




		
</div>